@import "material-symbols/outlined.css";
@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}
@theme {
  --color-primary: #faf8f1;
  --color-secondary: #faeab1;
  --color-tertiary: #e5ba73;
  --color-quaternary: #c58940;
  --color-bpom-green: #04a451;
  --color-bpom-blue: #004281;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main-runtext {
  overflow: visible;
  position: relative;
  height: 40px;
}

.marquee {
  margin-top: 5px;
  width: 100%;
  display: flex;
  animation: marquee 30s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.holder {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

/* Komponen custom masih bisa pakai @layer */
@layer components {
  .ar-input-text {
    @apply mt-1 rounded-lg border px-3 py-2 text-sm focus:outline-none focus:bg-[#10b98115] focus:border-[#10b981] focus:ring-0 focus:ring-[#10b981];
  }

  .ar-input-text:-webkit-autofill {
    @apply bg-white text-gray-800;
    -webkit-box-shadow: 0 0 0px 1000px theme("colors.green.200") inset !important;
    -webkit-text-fill-color: theme("colors.green.800") !important;
  }

  .ar-btn-primary {
    @apply rounded-lg px-4 py-2 font-semibold text-white bg-[#10b981] hover:bg-green-800 disabled:opacity-50;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientAnimation 15s ease infinite;
}
